<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Default" connectionString="Data Source=.\FeedSleepRepeatDB.db;Version=3;" providerName="System.Data.SqlClient" />
		<!--The |DataDirectory| path is %LOCALAPPDATA%\FSR-->
		<add name="DataDir" connectionString="Data Source=|DataDirectory|\FeedSleepRepeatDB.db;Version=3;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="serilog:using:File" value="Serilog.Sinks.File" />
		<add key="serilog:write-to:File.path" value="%LOCALAPPDATA%\FSR\FeedSleepRepeat.log" />
		<add key="serilog:write-to:File.rollingInterval" value="Day"/>
	</appSettings>
</configuration>
